<center><h2> {{ group.name }} </h2></center>

<span >
        {{#if member}}
            <a href="/newpost?gnick={{group.nickname}}">Start New Thread</a>
        {{else}}
            {{#if applied}}
                Until your membership of this group is approved, you may not post to it.
            {{else}}
                <form action="/group/apply" method="post">
                    <input type="hidden" name="gnick" value="{{group.nickname}}">
                    <input type="submit" value="Apply for Membership in This Group" >
                </form>
            {{/if}}
        {{/if}}
</span>

<h3>Posts:</h3>
{{#each group.threads}}
    <b> {{ title }} </b> by {{user}} on {{ created_at }}
    {{#if ../admin}}
        {{! A moderator of a group can delete a post. }}
        {{! If we were building out the front-end, we would have this put up an "Are you sure?" dialog. }}
        <form action="/post/delete/{{../group.nickname}}/{{_id}}" method="post" >
            <input type="submit" value="Delete Post" >
        </form>
    {{/if}}
    <!-- <a href="/post/edit?pid={{_id}}">Edit...</a> Don't have editing a post working, sooo.... -->
    <p/>
    {{ text }}<p/>
    {{ bodytext }}
    {{#each photos}}
      <img src="/blogdata/img/{{this}}" />
    {{/each}}
    <br/>
    {{#if ../member}}
        <a href="/thread/{{../group.nickname}}/{{_id}}">Comments...</a>
    {{/if}}
    <hr/>
{{/each}}

<div style="height:50px"></div>

<div class="fixed" style="background-color:cornsilk">
    
    <span style="padding:10%" >
        {{#if admin}}
            <a href="/group/admin/{{group.nickname}}">Manage Group</a>
        {{/if}}
        &nbsp;
    </span>
    <a href="/landing" >Return to Main Page</a>
</div>