<h1> Edit New Post</h1>


{{#each photos}}
  <img src="/blogdata/img/{{this}}" />
{{/each}}

<form enctype="multipart/form-data" method="POST" >

    Title:<input type="text" name="title" value="{{title}}">
    <input type="checkbox" id="public" name="public" >
    <label for="public">Publicly Viewable</label>
    <br/>
    <textarea name="bodytext" rows="10" cols="50">{{bodytext}}</textarea>
    <input type="submit" value="Publish"  class="btn btn-success" formaction="/newpost" >
    <br/>

    <label for="item">Add Image:</label>
    <input type="file" accept="image/png" id="item" name="item" >
    <button type="submit" formaction="/newpost/photo" >Upload  </button>


    <input type="hidden" name="gnick" value="{{gnick}}" >
    <input type="hidden" name="id" value="{{id}}" >
    <input type="hidden" name="parent" value="{{parent}}" >
</form>


  <a href="/landing">Return to main page</a>
</div>
