{{! This is subtly different from the partial named postdetail, because this is at the top level.}}

<b>{{title}}</b>
<i>by {{user}} at {{created_at}}</i><br/>
{{bodytext}}
<p/>
{{#if comments}}
    <h6>Comments:</h6>
    <div style="border-left:groove;margin-left:20px">
        {{#each comments}}
            {{> postdetail}}
        {{/each}}
    </div>
{{/if}}


<a href="/group/{{group.gnick}}">Back to main page for {{group.gname}}</a>