

<b>{{title}}</b>
<i>by {{user}} at {{created_at}}</i><br/>
{{bodytext}}
{{#each photos}}
  <img src="/blogdata/img/{{this}}" />
{{/each}}
<br/>
Post ID: {{_id}}
<a href="/newpost?parent={{_id}}&gnick={{gnick}}">Comment on this...</a>
<p/>
{{#if comments}}
    <h6>Comments:</h6>
    <div style="border-left:groove;margin-left:20px">
        {{#each comments}}
            {{> postdetail}}
        {{/each}}
    </div>
{{/if}}


